{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}
                    Hello, {{ user.username }}
                    <a href="{% url 'login' %}">Main page</a>
                    <a href="{% url 'login' %}">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Sign up</a>
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </nav>
        </header>
        <main>
            <div>
                <h1>Sign up!</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Sign up</button>
                </form>
            </main>
        </body>
    </html>
