{% load static %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Projectss</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
        </header>
        <main>
            <div>
                <h1>My Tasks</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                            <th>Assignee</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project_object.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ value|yesno:"yeah,no,maybe" }}</td>
                                <td>{{ task.assignee }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>You have no tasks</p>
            </div>
        </main>
    </body>
</html>
